@model Britzza___v6.Models.ViewModels.RegisterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/register.css" />
</head>

  <body class="custom-body">

    <div class="register-box">
        <h2 class="welcome-title">Register</h2>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.ValidationSummary()

            <div>
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username,new { @class = "input-field" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>

            <div>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email,new { @class = "input-field" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div>
                @Html.LabelFor(m => m.Function)
                @Html.TextBoxFor(m => m.Function,new { @class = "input-field" })
                @Html.ValidationMessageFor(m => m.Function)
            </div>

            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password,new { @class = "input-field" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword,new { @class = "input-field" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button type="submit">Register</button>
        }

     </div>

   </body>

</html>



